{% for i in 0..24 %}
    <div id="ligne">
        {% for j in 0..24 %}
            {% if board.board[i][j] == "v" %}
                <button id="MyCustomButton" style="visibility: hidden">
                    <p style="visibility : hidden">{{ board.board[i][j] }}</p>
                </button>
            {% elseif board.board[i][j][1:] in ['1','2','3','4','5','6'] %}
                <button id="MyCustomButton" onclick="MovePlayer('{{MyUuiD}}','{{i}}','{{j}}')" class="image_{{i}}_{{j}}">
                    <p style="visibility : visible; color: #7FFF00;">
                        {{ board.board[i][j] }}
                    </p>
                </button>
            {% elseif "m" in board.board[i][j] %}
                <button id="MyCustomButton" class="image_{{i}}_{{j}}" style="border: none;">
                    <p style="visibility : hidden">
                        {{ board.board[i][j] }}
                    </p>
                </button>
            {% elseif board.board[i][j] in ['A','B','C','D','E','F','G','H','I'] %}
                <button id="MyCustomButton" onclick="MovePlayer('{{MyUuiD}}','{{i}}','{{j}}')" class="image_{{i}}_{{j}}" style="border: solid 1px #7FFF00;">
                    <p style="visibility : hidden">
                        {{ board.board[i][j] }}
                    </p>
                </button>
            {% elseif board.board[i][j][0:] == "S" %}
                <button id="MyCustomButton" style="border: solid #EF3B36 0.2px; background-color: orange;">
                    <p style="visibility : hidden">
                        {{ board.board[i][j] }}
                    </p>
                </button>
            {% else %}
                <button id="MyCustomButton" onclick="MovePlayer('{{MyUuiD}}','{{i}}','{{j}}')" style="border: solid #EF3B36 0.2px; background: radial-gradient(circle, #FFFFFF 40%, #EF3B36);">
                    <p style="visibility : hidden">
                        {{ board.board[i][j] }}
                    </p>
                </button>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#MyCustomButton").click(function () {
        $(window).load(location.href + window);
    });

    function MovePlayer(MyUuiD, i, j) {
        var socket = io.connect('http://192.168.1.52:8080');

        socket.on('connect', (data) => {
            socket.emit('Move', [MyUuiD, i, j]);

            //socket.on("LogErrorHypo", error => {
            //    $('#LogErrorHypo').empty().prepend(error);
            //});
        });
    }
</script>